.q2{
    margin-top: -5000PX;
    height: 180px;
    width:280px;
    margin-left: -5px;
    margin-top: -10px;
}
.q4{
    width: 496px
}
.q6{
    margin-top: -100PX;
    height: 250px;
    width:480px;
    margin-left: -13px;
    margin-top: -15px;
    margin-right: 10px;
    
}